<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwxbVcdFINWXwSD7S4soPoNYFP1svUbvM</string>
	<key>GCM_SENDER_ID</key>
	<string>274670228557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopingListApplication</string>
	<key>PROJECT_ID</key>
	<string>holy-shoplist-app</string>
	<key>STORAGE_BUCKET</key>
	<string>holy-shoplist-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274670228557:ios:9ba18b7eeba86497d4b804</string>
</dict>
</plist>